*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}
header{ 
    width:100%;
    height:80px;
    background-color: rgb(146, 145, 145); 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../images/deezer.png") no-repeat;
    background-size: contain;
}

input[type=text]{
   width: 500px;
    height: 30px;
    outline: none;
}
.main{
    max-width: 1000px;
    margin:30px auto auto  auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height: 400px;
    background-color: lavender;
    position: relative;  
    box-shadow: 0 0 10px #fff;
}
.card-image1{
    width:300px;
    height: 300px;
    position: absolute;
    top: 0; 
    background: url("../images/mars.jpg") no-repeat;
    background-size: cover;
}
.card:hover{
    box-shadow: 0 0 10px;
    transition: 180ms;
}
.card-image2{
    width:300px;
    height: 300px;
    background: url("../images/burna.jpg") no-repeat;
    background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0; 
}
.card-image3{
    width:300px;
    height: 300px;
    background: url("../images/billie.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0; 
}
.card-name{
    width:300px;
    height: 100px;
    position: absolute;
    bottom: 0;
}
.artist{
    padding:25px 0 0 10px ;
}
.fans{
    padding:10px 0 0 10px ;
}


@media only screen and (max-width:992px ) {
    header{
        width: 100%;
    }
    input[type="text"]{
        margin: auto;
        width:200px;
        position: absolute;
        right: 150px;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }
    .logo{
       position: absolute;
       left: 180px; 
    }
    .card{
        width: 600px;
        margin: auto auto 30px auto;
    }
    .card-image3,.card-image2,.card-image1,.card-name{
        width: 600px;
        margin: auto;
    }
    
}
@media only screen and (max-width:768px ) {
     header{
         width: 100%;
     }
     input[type="text"]{
         margin: auto;
         width:200px;
         position: absolute;
         right: 120px;
     }
     .logo{
        position: absolute;
        left: 100px; 
     }
     .card{
         width: 480px;
         margin: auto auto 30px auto;
     }
     .card-image3,.card-image2,.card-image1,.card-name{
     width: 480px;
     }
}
@media only screen and (max-width:600px ) {
    header{
        width: 100%;
    }
    input[type="text"]{
        margin: auto;
        width:220px;
        position: absolute;
        right: 100px;
    }
    .logo{
       position: absolute;
       left: 30px; 
    }
    .card{
        width: 350px;
        margin: auto auto 30px auto;
    }
    .card-image3,.card-image2,.card-image1,.card-name{
    width: 350px;
    }
}
@media only screen and (max-width:500px ) {
    header{
        width:100%;
    }
    input[type="text"]{
        margin: auto;
        width: 100px;
        position: absolute;
        right: 60px;
    }
    .logo{
        position: absolute;
        left: 50px;
    }
    .card{
       max-width: 280px;
        margin: auto auto 15px auto;
    }
    .card-image3,.card-image2,.card-image1,.card-name{
    width:280px;
    }
}
@media only screen and (max-width:400px ) {
    header{
        width: 100%;
    }
    input[type="text"]{
        margin: auto;
        width: 200px;
        margin: auto;
    }
    .logo{
        position: absolute;
        left: 70px;
        display: none;
    }
    .card{
       width: 250px;
        margin: auto auto 30px auto;
    }
    .card-image3,.card-image2,.card-image1,.card-name{
    max-width: 250px;
    }
}



